name: run


on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker image tag'
        required: false

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Download Docker image
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/helloworld:${{ github.event.inputs.tag || 'latest' }}

      - name: Run container and output result
        run: docker run --rm -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/helloworld:${{ github.event.inputs.tag || 'latest' }}
